/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: content-box;
}

.row {
  margin: 0;
  padding: 0;
  flex-wrap: nowrap;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 16px;
}

span {
  font-size: 16px;
}

a {
  font-size: 16px;
}

h1 {
  color: black;
}

h2 {
  color: black;
}

h3 {
  color: black;
}

h4 {
  color: black;
}

h5 {
  color: black;
}

h6 {
  color: black;
}

p {
  color: black;
}

span {
  color: black;
}

.travel-place {
  border-bottom: 1px solid rgb(222, 222, 222);
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.travel-place h2 {
  font-weight: 800;
  font-size: 25px;
}
.travel-place .chose-page .chose-control {
  position: relative;
  width: 30px;
  height: 4px;
  margin: 7px 0;
  background-color: red;
  z-index: 2500;
}
.travel-place .chose-list {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2000;
  text-align: center;
}
.travel-place .chose-list a {
  text-decoration: none;
  display: block;
  font-size: 25px;
  font-weight: 800;
  margin: 10px 0;
  color: white;
}

.travel-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.travel-container .travel-filter {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin: 20px 0;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.travel-container .travel-filter .travel-keyword-search {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.travel-container .travel-filter .travel-keyword-search input {
  padding: 10px;
  border: none;
  box-shadow: 0px 0px 10px rgb(210, 210, 210);
}
.travel-container .travel-filter .travel-keyword-search button {
  padding: 10px;
  border: none;
  font-size: 20px;
  background-color: red;
  color: white;
  box-shadow: 0px 0px 10px rgb(210, 210, 210);
}
.travel-container .travel-filter select {
  padding: 10px;
  font-size: 20px;
  font-weight: 800;
}
.travel-container .travel-item {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 10px 10px;
}
.travel-container .travel-item input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin: 0 3px;
}
.travel-container .travel-item .travel-item-page {
  width: 100%;
  max-width: 300px;
  line-height: 1.5;
  margin: auto;
  text-align: left;
}
.travel-container .travel-item .travel-item-page .travel-title {
  width: 130px;
  background-color: red;
  padding: 0 5px;
  text-align: center;
  border-radius: 10px;
}
.travel-container .travel-item .travel-item-page .travel-title h4 {
  color: white;
  font-weight: 800;
}
.travel-container .travel-item .travel-item-page .travel-body {
  line-height: 1.5;
}
.travel-container .travel-item .travel-item-page .travel-body .travel-item-name h5 {
  font-weight: 800;
}
.travel-container .travel-item .travel-item-page .my-favorite {
  display: flex;
}
.travel-container .travel-item .addfavorite {
  width: 130px;
  padding: 5px;
  font-weight: 800;
  font-size: 14px;
  border-radius: 20px;
  background-color: blue;
  color: white;
}
.travel-container .travel-item .addfavorite:active {
  transform: translateY(3px);
}

.select-all {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.select-all input[type=checkbox] {
  width: 20px;
  height: 20px;
}
.select-all span {
  font-size: 25px;
  font-weight: 800;
}
.select-all button {
  width: 150px;
  padding: 5px;
  font-weight: 800;
  font-size: 20px;
  border-radius: 20px;
  background-color: blue;
  color: white;
}
.select-all button:active {
  transform: translateY(3px);
}

.turn-page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.turn-page button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
}
.turn-page .chose-page {
  font-size: 20px;
  margin: 5px 10px;
}

@media screen and (min-width: 1024px) {
  .travel-place {
    margin: 20px 0;
    text-align: center;
  }
  .travel-place h2 {
    font-weight: 800;
  }
  .travel-place .chose-list {
    width: 500px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2000;
    text-align: center;
  }
  .travel-place .chose-list a {
    text-decoration: none;
    display: block;
    font-size: 25px;
    font-weight: 800;
    margin: 10px 0;
    color: white;
  }
  .travel-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }
  .travel-container .travel-filter {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin: 20px 0;
    text-align: center;
  }
  .travel-container .travel-item {
    display: flex;
    margin: 0 auto;
    padding: 10px 0;
  }
  .travel-container .travel-item input[type=checkbox] {
    width: 20px;
    height: 20px;
  }
  .travel-container .travel-item .travel-item-page {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    line-height: 1.5;
    margin: auto;
    text-align: center;
    padding: 10px;
  }
  .travel-container .travel-item .travel-item-page .travel-title {
    margin-right: 10px;
    width: 130px;
    background-color: red;
    padding: 0 5px;
    text-align: center;
    border-radius: 10px;
  }
  .travel-container .travel-item .travel-item-page .travel-title h4 {
    color: white;
    font-weight: 800;
  }
  .travel-container .travel-item .travel-item-page .travel-body {
    display: flex;
    line-height: 1.5;
  }
  .travel-container .travel-item .travel-item-page .travel-body .travel-item-name {
    margin-right: 10px;
  }
  .travel-container .travel-item .travel-item-page .travel-body .travel-item-address {
    margin-right: 10px;
  }
  .travel-container .travel-item .travel-item-page .my-favorite {
    display: block;
  }
  .travel-container .travel-item .travel-item-page button {
    width: 100px;
    padding: 5px;
    font-weight: 800;
    font-size: 14px;
    border-radius: 20px;
    background-color: blue;
    color: white;
  }
  .travel-container .travel-item .travel-item-page button:active {
    transform: translateY(3px);
  }
  .travel-container .travel-item .addfavorite {
    margin: 0 10px;
    cursor: pointer;
  }
  .select-all {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .select-all input[type=checkbox] {
    width: 30px;
    height: 30px;
  }
  .select-all button {
    width: 150px;
    padding: 5px;
    font-weight: 800;
    font-size: 20px;
    border-radius: 20px;
    background-color: blue;
    color: white;
  }
  .select-all button:active {
    transform: translateY(3px);
  }
  .turn-page {
    display: flex;
    justify-content: center;
  }
  .turn-page button {
    display: flex;
    align-items: center;
  }
  .turn-page .chose-page {
    font-size: 20px;
    margin: 5px 10px;
  }
}
.pageColor {
  color: red;
}

.bgColor {
  background-color: antiquewhite;
  padding: 10px;
}

.turnAngle_1 {
  position: absolute;
  transform: rotate(45deg);
  transition: 0.5s;
  z-index: 10;
}

.turnAngle_2 {
  position: absolute;
  top: -10px;
  right: 0px;
  transform: rotate(-45deg);
  transition: 0.5s;
  z-index: 10;
}

.called-enter-active,
.called-leave-active {
  font-size: 0;
  transition: 0.5s;
}

.called-enter-from {
  width: 0 !important;
  height: 0 !important;
  border-radius: 50%;
  font-size: 0;
}

.called-enter-to {
  width: 30vw;
  height: 100vh;
  right: 100px;
  top: 0;
}

.called-leave-to {
  width: 0 !important;
  height: 0 !important;
  border-radius: 50%;
  font-size: 0;
}

.myFavourite-list .map-container {
  text-align: center;
  margin-bottom: 30px;
}
.myFavourite-list .map-container #map {
  height: 50vh;
}
.myFavourite-list .map-container .weather-report {
  margin-top: 20px;
}
.myFavourite-list .map-container .weather-report span {
  font-size: 20px;
  font-weight: 800;
  margin: 0 5px;
}
.myFavourite-list .favourite-head {
  text-align: center;
  font-weight: 800;
  margin: 30px 0;
}
.myFavourite-list .favourite-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.myFavourite-list .favourite-container .empty-data {
  text-align: center;
  margin-top: 20px;
  font-weight: 800;
}
.myFavourite-list .favourite-container .favourite-item {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0;
}
.myFavourite-list .favourite-container .favourite-item input[type=checkbox] {
  width: 20px;
  height: 20px;
}
.myFavourite-list .favourite-container .favourite-item .favourite-item-page {
  width: 100%;
  max-width: 300px;
  line-height: 1.5;
  margin: auto;
  text-align: left;
}
.myFavourite-list .favourite-container .favourite-item .favourite-item-page .favourite-title {
  width: 130px;
  background-color: red;
  padding: 0 5px;
  text-align: center;
  border-radius: 10px;
}
.myFavourite-list .favourite-container .favourite-item .favourite-item-page .favourite-title h4 {
  color: white;
  font-weight: 800;
}
.myFavourite-list .favourite-container .favourite-item .favourite-item-page .favourite-body {
  line-height: 1.5;
}
.myFavourite-list .favourite-container .favourite-item .favourite-item-page .favourite-body .favourite-item-name h5 {
  font-weight: 800;
}
.myFavourite-list .favourite-container .favourite-item .favourite-item-page .my-favourite {
  display: flex;
}
.myFavourite-list .favourite-container .favourite-item-btn button {
  width: 100px;
  padding: 5px;
  font-weight: 800;
  font-size: 14px;
  border-radius: 20px;
  background-color: blue;
  color: white;
  margin: 10px 0;
}
.myFavourite-list .favourite-container .favourite-item-btn button:active {
  transform: translateY(3px);
}
.myFavourite-list .favourite-container .favourite-item-btn .edit {
  background-color: red;
}
.myFavourite-list .delete-all {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.myFavourite-list .delete-all span {
  font-size: 25px;
  font-weight: 800;
}
.myFavourite-list .delete-all input[type=checkbox] {
  width: 20px;
  height: 20px;
}
.myFavourite-list .delete-all button {
  width: 150px;
  padding: 5px;
  font-weight: 800;
  font-size: 20px;
  border-radius: 20px;
  background-color: blue;
  color: white;
}
.myFavourite-list .delete-all button:active {
  transform: translateY(3px);
}

.edit-light-box {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.edit-light-box .fix-list {
  position: fixed;
  top: 40%;
  left: 5%;
  width: 90%;
  background-color: white;
  line-height: 2;
  text-align: center;
  font-weight: 800;
  border-radius: 20px;
}
.edit-light-box .fix-list .fix-btn {
  margin: 10px 0;
}
.edit-light-box .fix-list .fix-btn button {
  margin: 0 10px;
  width: 100px;
  padding: 5px;
  font-weight: 800;
  font-size: 16px;
  border-radius: 20px;
  background-color: blue;
  color: white;
}
.edit-light-box .fix-list .fix-btn button:active {
  transform: translateY(3px);
}

@media screen and (min-width: 1024px) {
  .myFavourite-list {
    display: flex;
    margin-top: 100px;
  }
  .myFavourite-list .map-container {
    width: 40%;
    height: 80vh;
  }
  .myFavourite-list .map-container #map {
    width: 60vh;
    height: 60vh;
    margin: auto;
  }
  .myFavourite-list .favourite-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    width: 50%;
  }
  .myFavourite-list .favourite-container .empty-data {
    text-align: center;
    font-weight: 800;
    margin-bottom: 200px;
  }
  .myFavourite-list .favourite-container .favourite-head {
    text-align: center;
    font-weight: 800;
    margin: 30px 0;
  }
  .myFavourite-list .favourite-container .favourite-item {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 10px 10px;
  }
  .myFavourite-list .favourite-container .favourite-item input[type=checkbox] {
    width: 20px;
    height: 20px;
  }
  .myFavourite-list .favourite-container .favourite-item .favourite-item-page {
    width: 100%;
    max-width: 300px;
    line-height: 1.5;
    margin: auto;
    text-align: left;
  }
  .myFavourite-list .favourite-container .favourite-item .favourite-item-page .favourite-title {
    width: 130px;
    background-color: red;
    padding: 0 5px;
    text-align: center;
    border-radius: 10px;
  }
  .myFavourite-list .favourite-container .favourite-item .favourite-item-page .favourite-title h4 {
    color: white;
    font-weight: 800;
  }
  .myFavourite-list .favourite-container .favourite-item .favourite-item-page .favourite-body {
    line-height: 1.5;
  }
  .myFavourite-list .favourite-container .favourite-item .favourite-item-page .favourite-body .favourite-item-name h5 {
    font-weight: 800;
  }
  .myFavourite-list .favourite-container .favourite-item .favourite-item-page .my-favourite {
    display: flex;
  }
  .myFavourite-list .favourite-container .favourite-item-btn button {
    width: 100px;
    padding: 5px;
    font-weight: 800;
    font-size: 14px;
    border-radius: 20px;
    background-color: blue;
    color: white;
    margin: 10px 0;
  }
  .myFavourite-list .favourite-container .favourite-item-btn button:active {
    transform: translateY(3px);
  }
  .myFavourite-list .favourite-container .favourite-item-btn .edit {
    background-color: red;
  }
  .myFavourite-list .delete-all {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .myFavourite-list .delete-all button {
    width: 150px;
    padding: 5px;
    font-weight: 800;
    font-size: 20px;
    border-radius: 20px;
    background-color: blue;
    color: white;
  }
  .myFavourite-list .delete-all button:active {
    transform: translateY(3px);
  }
  .myFavourite-list .delete-all span {
    font-size: 27px;
    margin: 0 10px;
  }
  .edit-light-box {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  .edit-light-box .fix-list {
    position: fixed;
    top: 40%;
    left: 5%;
    width: 90%;
    background-color: white;
    line-height: 2;
    text-align: center;
    font-weight: 800;
    border-radius: 20px;
  }
  .edit-light-box .fix-list .fix-btn {
    margin: 10px 0;
  }
  .edit-light-box .fix-list .fix-btn button {
    margin: 0 10px;
    width: 100px;
    padding: 5px;
    font-weight: 800;
    font-size: 16px;
    border-radius: 20px;
    background-color: blue;
    color: white;
  }
  .edit-light-box .fix-list .fix-btn button:active {
    transform: translateY(3px);
  }
}/*# sourceMappingURL=style.css.map */