.travel-place {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(167, 167, 167);
    .travel-logo{
        display: flex;
        align-items: center;
        .logo-pic{
            width: 60px;
            height: 60px;
            img{
                width: 100%;
                height: 100%;
            }
        }
       
    }

    .chose-page {
        position: relative;
        .close-list{
            font-size: 25px;
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 2500;
            cursor: pointer;
        }
        .chose-control {
            position: relative;
            width: 30px;
            height: 4px;
            margin: 9px 20px;
            background-color: $titleColor;
        }
    }

    h2 {
        font-weight: 800;
        font-size: 25px;
    }
    .chose-list {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0px;
        background-color: $slideChoseColor;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 2000;
        text-align: center;
        padding-top: 100px;
     
            a {
                @include url();
                margin: 10px 0;
                color: white;
                border-bottom: 2px solid white;
                padding-bottom: 10px;

                &:hover{
                    color: red
                }
            }
    }
}

.travel-container {
    @include container();
    padding-top: 50px;
    .travel-search{
        text-align: center;
        margin-bottom: 50px;
        h2{
            font-weight: 800;
            margin: 20px 0
        }
    }
    .travel-filter {
        @include container();
        margin: 20px 0;
        display: flex;
        align-items:center;
        flex-direction: column;
        .travel-keyword-search {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;

            input {
                padding: 10px;
                border: none;
                box-shadow: 0px 0px 10px rgb(210, 210, 210);
            }

            button {
                padding: 10px;
                border: none;
                font-size: 20px;
                background-color: $titleColor;
                color: white;
                box-shadow: 0px 0px 10px rgb(210, 210, 210);
            }

        }

        select {
            padding: 10px;
            font-size: 20px;
            font-weight: 800;
        }
    }

    .travel-item {
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 10px 10px;

        input[type="checkbox"] {
            width: 20px;
            height: 20px;
            margin: 0 8px;
        }

        .travel-item-page {
            width: 100%;
            max-width: 300px;
            line-height: 1.5;
            margin: auto;
            text-align: left;

            .travel-title {
                width: 130px;
                background-color: $titleColor;
                padding: 0 5px;
                text-align: center;
                border-radius: 10px;

                h4 {
                    color: white;
                    font-weight: 800;
                }

            }

            .travel-body {
                line-height: 1.5;

                .travel-item-name {
                    h5 {
                        font-weight: 800;
                    }
                }

                .travel-item-address {}
            }

            .my-favorite {
                display: flex;

            }

        }
        .addfavorite {
            @include button(130px, 14px);

        }
    }
    .travel-search-empty{
        text-align: center;
        margin: 50px 0;
        h3{
            font-weight: 800;
            color: gray;
        }
    }
}

.select-all {
    @include container();
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;

    input[type="checkbox"] {
        width: 20px;
        height: 20px;
    }

    span {
        font-size: 25px;
        font-weight: 800
    }

    button {
        @include button(200px);
        border-radius: 40px;
    }
}
.turn-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    .chose-page {

        font-size: 20px;
        margin: 5px 10px;
        cursor: pointer;

        .chose-control {
            position: relative;
            width: 30px;
            height: 4px;
            margin: 7px 0;
            background-color: $titleColor;
            z-index: 2500;
        }
    }

    button {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }


}

// ====================================1024
@media screen and (min-width:1024px) {
    .travel-place {
        text-align: center;

        h2 {
            font-weight: 800
        }

        .chose-list {
            width: 300px;
            height: 100vh;
            position: fixed;
            top: 0;
            right: 0px;
            background-color: $slideChoseColor;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            z-index: 2000;
            text-align: center;
            padding: 0 10px;
            padding-top: 100px;
         
                a {
                    @include url();
                    margin: 10px 0;
                    color: white;
                    border-bottom: 2px solid white;
                    padding-bottom: 10px
                   
                }
        }
    }

    .travel-container {
        @include container();
        padding-top: 70px;
        .travel-filter {
            @include container();
            margin: 20px 0;
            text-align: center;
            display: flex;
            align-items: flex-end;
        }

        .travel-item {
            display: flex;
            margin: 0 auto;
            padding: 10px 0;
            input[type="checkbox"] {
                width: 20px;
                height: 20px;
            }

            .travel-item-page {
                display: flex;
                align-items: center;
                width: 100%;
                max-width: 1200px;
                line-height: 1.5;
                margin: auto;
                text-align: center;
                padding: 10px;

                .travel-title {
                    margin-right: 10px;
                    width: 130px;
                    background-color: $titleColor;
                    padding: 0 5px;
                    text-align: center;
                    border-radius: 10px;

                    h4 {
                        color: white;
                        font-weight: 800;
                    }

                }

                .travel-body {
                    display: flex;

                    line-height: 1.5;

                    .travel-item-name {
                        margin-right: 10px;
                    }

                    .travel-item-address {
                        margin-right: 10px;
                    }
                }

                .my-favorite {
                    display: block;

                }

                button {
                    @include button(100px, 14px);

                }
            }

            .addfavorite {
                margin: 0 10px;
                cursor: pointer;
            }
        }
     
    }

    .select-all {
        @include container();
        margin: 30px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span{
            width: 300px;
            display: flex;
            align-items: center;
            input[type="checkbox"] {
                width: 30px;
                height: 30px;
            }
        }
    }

    .turn-page {
        display: flex;
        justify-content: center;

        button {
            display: flex;
            align-items: center;
        }

        .chose-page {
            font-size: 20px;
            margin: 5px 10px;
        }

    }
}

.pageColor {
    color: $titleColor;
}

.bgColor {
    background-color: antiquewhite;
    padding: 10px;
}

.turnAngle_1 {
    position: absolute;
    transform: rotate(45deg);
    transition: .5s;
    z-index: 10;
}

.turnAngle_2 {
    position: absolute;
    top: -10px;
    right: 0px;
    transform: rotate(-45deg);
    transition: .5s;
    z-index: 10;
}

// ================================選單動畫
.called-enter-active {
    font-size: 0;
    transition: .5s;

}

.called-enter-from {
    width: 0 !important;
    height: 0 !important;
    border-radius: 50%;
    font-size: 0;

}

.called-leave-from {
    width: 0 !important;
    height: 0 !important;
    font-size: 0;
  
}

.called-enter-to {
    width: 30vw;
    height: 100vh;
    right: 100px;
    top: 0;
}

.called-leave-to {
    width: 0 !important;
    height: 0 !important;
    border-radius: 50%;
    font-size: 0;
}