$btnColor:#1d61d5;
$baseWhite:#F9F9F9;
$titleColor:red;
$slideChoseColor:rgb(250, 183, 58);

body{
    background-color: $baseWhite;
}

$fontSize:64px;

$fonSizeList:(
    "h1":$fontSize,
    "h2":($fontSize)-24px,
    "h3":($fontSize)-32px,
    "h4":($fontSize)-40px,
    "h5":($fontSize)-44px,
    "h6":($fontSize)-48px,
    "p":($fontSize)-48px,
    "span":($fontSize)-48px,
    "a":($fontSize)-48px,
);

@each $key,$val in $fonSizeList{
    #{$key}{
        font-size: $val;
    }
}

$fontColor:(
    "h1":black,
    "h2":black,
    "h3":black,
    "h4":black,
    "h5":black,
    "h6":black,
    "p":black,
    "span":black,
);

@each $key,$val in $fontColor{
    #{$key}{
        color: $val;
    }
}
@mixin container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
  
}

@mixin url() {
    text-decoration: none;
    display: block;
    font-size: 25px;
    font-weight: 800;

}
@mixin button($width:150px, $size:20px) {
    width: $width;
    padding:10px 0px;
    padding-left: 1px;
    padding-right: 6px;
    font-weight: 800;
    font-size: $size;
    border-radius: 20px;
    background-color: $btnColor;
    color: white;
    border: none;
    cursor: pointer;

    &:hover{
        transform: translateY(-5px);
    }

    &:active{
        transform: translateY(3px);
    }
}