<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
        integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="" />
    <link rel="stylesheet" href="./css/style.css">
    <title>我的最愛</title>
</head>

<body>
    <div id="app">
        <div class="travel-place">
            <div class="travel-logo">
                <h2>台南旅遊</h2>
                <div class="logo-pic">
                    <img src="https://admin.twtainan.net/Content/favicons/mstile-310x310.png" alt="">
                </div>
              
            </div>
            <div class="chose-page" @click="showList=!showList">
                <div class="chose-control" :class="{turnAngle_1:showList}"></div>
                <div class="chose-control" :class="{turnAngle_2:showList}"></div>
                <transition name="called">
                    <nav class="chose-list" v-show="showList">
                        <div class="close-list" v-if="showList">❌</div>
                        <a href="index.html">旅遊地點查詢</a>
                        <a href="favorite.html">我的最愛</a>
                    </nav>
                </transition>
            </div>
        </div>
        <div class="myFavourite-list">
            <div class="map-container">
                <div id="map"></div>
                <div class="weather-report" v-if=" weatherData&&weatherData.length>1">
                    <span>地區:{{targetArea.locationName}}</span>
                    <span>降雨機率:{{rain}}%
                        <small v-if="rain>40">☔</small>
                    </span>
                    <span>天氣狀況:{{weather }}
                        <small v-if="weather=='晴時多雲'">⛅</small>
                        <small v-if="weather=='陰天'">🌨</small>
                        <small v-if="weather=='晴'">🌞</small>
                        <small v-if="weather=='多雲'">☁</small>
                    </span>
                    <span>溫度:{{temperature}}度</span>
                </div>
            </div>
          
            <div class="favourite-container">
                <div class="favourite-container-title">
                    <h2>我的最愛💘</h2>
                </div>
                <div class="empty-data" v-if="!favourite.length">
                    <h3>目前沒有最愛</h3>
                </div>
                <div class="favourite-item" v-for="(item,index) in favourite" :class="{bgColor:index%2===0}"
                @click="removeMap();updateMap(item.id);getWeather(item.district)">
               
                    <span class="remove-favorite">
                        <input type="checkbox" v-model="removeFavorite"
                        :value="item">
                    </span>
                    <div class="favourite-item-page">
                        <div class="favourite-title">
                            <h4>{{item.district}}</h4>
                        </div>
                        <div class="favourite-body">
                            <div class="favourite-item-name">
                                <h5>{{item.name}}</h5>
                            </div>
                            <div class="favourite-item-address">
                                {{item.address}}
                            </div>
                        </div>
                    </div>
                    <div class="favourite-item-btn">
                        <button class="edit" @click="editTarget(item)">編輯</button><br>
                        <button class="removefavorite" @click="deleteFavorite(item.id)">💔移出最愛</button>
                    </div>

                </div>
                <div class="delete-all">
                    <span><input type="checkbox" @click="checkAll"
                    v-model="removeCheck"    
                        >全選</span>
                    <button @click="removeTotal"
                    >💞刪除全部最愛</button>
                </div>
                <div class="turn-page" v-if="totalPages">
                    <button @click="prevPage"><</button>
                    <div class="chose-page" v-for="i  in  totalPages" @click="chosePage(i)" 
                    :class="{pageColor:currentPage==i}" 
                   
                    >{{i}}</div>
                    <button @click="nextPage">></button>
                </div>
            </div>
        </div>
        <div class="edit-light-box" v-show="showLightBox">
            <div class="fix-list">
                <h3>修改景點資料</h3>
                <p>
                    景點區域:
                     <input type="text" v-model="attractionDistrict">
                </p>
                <p>景點名稱:
                    <input type="text" v-model="attractionName"></p>
                <p>
                    景點地址:
                    <input type="text" v-model="attractionAddress">
                </p>
                <div class="fix-btn">
                    <button @click="editFinish">確定修改</button>
                    <button @click="showLightBox=false">取消</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.js"
    integrity="sha512-xjzDqCmpabFznyCZ92vM1F0gg8ExgSukopZQOCcVbObLyJSmZAkaB9wzOCeSClearljJcjRh67cGDp2uv4diLg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
        integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>

    <script src="https://unpkg.com/vue@next"></script>
  
    <script src="./js/02.js"></script>

</body>

</html>