<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>旅遊地點查詢</title>
</head>

<body>
    <div id="app">
        <div class="travel-place">
            <div class="travel-logo">
                <h2>台南旅遊</h2>
                <div class="logo-pic">
                    <img src="https://admin.twtainan.net/Content/favicons/mstile-310x310.png" alt="">
                </div>
              
            </div>
            <div class="chose-page" @click="showList=!showList">
                <div class="chose-control" :class="{turnAngle_1:showList}"></div>
                <div class="chose-control" :class="{turnAngle_2:showList}"></div>
                <transition name="called">
                    <nav class="chose-list" v-show="showList">
                        <div class="close-list" v-if="showList">❌</div>
                        <a href="/index.html">旅遊地點查詢</a>
                        <a href="/favorite.html">我的最愛</a>
                    </nav>
                </transition>
            </div>
        </div>
        <div class="travel-container">
            <div class="travel-search">
                <h2>旅遊地點查詢🔍</h2>
            </div>
            <div class="travel-filter">
                <div class="travel-keyword-search">
                    <input type="text" placeholder="請輸入關鍵字" v-model="travelSearch"
                    size="30"
                    @keyup.enter="keyWordSearch">
                    <button @click="keyWordSearch"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
          
                <select name="" id="" v-model="travelArea"
                @change="filterArea">
                    <option value="1">請選擇區域</option>
                    <option v-for="item in AreaName"  :value="item.AreaName">{{item.AreaName}}</option>
                </select>
            </div>
         
            <div class="travel-item" v-for="(item,index) in travelData" :class="{bgColor:index%2===0}">
                <span class="my-favorite"><input type="checkbox" v-model="myFavorite"
                    :value="item"
                        ></span> 
                <div class="travel-item-page" >
                  <div class="travel-title">
                    <h4>{{item.district}}</h4>
                  </div>
                    <div class="travel-body">
                        <div class="travel-item-name">
                            <h5>{{item.name}}</h5></div>
                        <div class="travel-item-address"><p>{{item.address}}</p></div>
                </div>
            </div>
            <button class="addfavorite"  @click="addFavorite(item.id,item.lat,item.long)">💓加到最愛</button>
        </div>
        <div class="travel-search-empty" v-if="travelData && travelData.length==0">
            <h3>查無此資訊</h3>
        </div>
        <div class="select-all">
            <span><input type="checkbox" @click="checkAll" v-model="totalFavitore">全選</span>
            <button @click="addTotal">💕全部加入最愛</button>
        </div>
        <div class="turn-page" v-if="extraPage && extraPage.length>1">
            <button @click="prevPage"><</button>
            <span v-if="!dashed_1">...</span>
            <div class="chose-page" v-for="i  in  extraPage" @click="chosePage(i)" 
            :class="{pageColor:currentPage==i}" 
           
            >{{i}}</div><span v-if="!dashed_2">...</span>
            <button @click="nextPage">></button>
        </div>
    </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.js"
    integrity="sha512-xjzDqCmpabFznyCZ92vM1F0gg8ExgSukopZQOCcVbObLyJSmZAkaB9wzOCeSClearljJcjRh67cGDp2uv4diLg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./js/01.js"></script>

</body>

</html>